.Dropdown select{
    background-color: white;
    color: purple;
    min-width: 160px;
    font-size: 17px;
    padding: 12px 16px;
    font-weight: 50;
    letter-spacing: 1.2px;
    cursor: pointer;
    margin: 10px;
    border-color: black;
    border-radius: 10px;
    
}

.Dropdown select:hover{
    color: #000000;
}
